{{define "admin/denglu.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>denglu.html</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/img.css">
</head>
<body>
    <div class="tpt-login">
        <h2>请登录账号</h2>
        <form>
        <input type="text" name="username" placeholder="请输入账号">
        <input type="password" name="password" placeholder="请输入密码">
        <p>
        <span ><i></i></span>我已阅读并同意
        <a href="#" target="_blank"> 登陆协议</a>
        </p>
        <button>立即登录</button>
        </form>
    </div>
</body>
</html>
{{end}}