{{define "admin/index.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div class="homepage">
    <div class="top">
        <!-- <div> -->
            <!-- <form action=""> -->
                <!-- <span class="a1" ><input type="text" name="username"  placeholder="用户名"></span> -->
            <!-- </form> -->
        <!-- </div> -->
        <div id="iu">
            <a href="http://feng.itiny.com/denglu" >登录</a>
            <a href="http://feng.itiny.com/denglu/zhuce" >注册</a>
        </div>
       
       
    </div>
</div>
</body>
</html>
{{end}}